<h1 class="welc">Welcome</h1>
<p class="maint">Here are only the best courses</p>
 <div class="col">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://cdn.pixabay.com/photo/2016/03/27/18/54/technology-1283624_1280.jpg">
          <span class="card-title">Начать пользоваться этим приложением</span>
        </div>
        <div class="card-content">
        <p>Перед тем как начать создавать или покупать курс, вам необходимо пройти авторизацию! Желаю вам удачи!</p>
        </div>
        <div class="card-action">
          <a href="https://warm-scrubland-95172.herokuapp.com/auth/login#login">This is a link</a>
        </div>
      </div>
    </div>
  </div>

   <div class="col">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_1280.jpg">
          <span class="card-title maint">Сайт и его возможности</span>
        </div>
        <div class="card-content">
        <p>С помощью этого сайта, вы можете выбрать любой подходящий вам курс, либо же если вы хотите начать продавать собственные курсы, вы можете с помощью этой платформы, создать свой собственный курс и продавать его! Перейти и посмотреть курсы которые уже в продаже, можете по ссылке ниже. Желаю вам удачи!
        </p>
        </div>
        <div class="card-action">
          <a href="https://warm-scrubland-95172.herokuapp.com/courses">Courses</a>
        </div>
      </div>
    </div>
  </div>
