
.container {
    background-color: black;
    padding: 1rem;
    margin-top: 1rem;
}
.draggable {
    padding: 1rem;
    background-color: white;
    border: 2px solid black ;
    cursor: pointer;
}
.draggable.dragging {
    opacity: .5;
}